[user]
[github]
	user = trondvalen
	token = e47c6f682077d89ea7969afa6d14a9d4
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	history-view-vpane-position = 275
	file-view-vpane-position = 213
[user]
	name = Trond Valen
	email = trondvalen@gmail.com
[core]
	editor = gedit
	autocrlf = input
[http]
	proxy = 
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  pullrb = pull --rebase
  resethardhead = reset --hard HEAD
  stalis = "stash list"
  resetheadMin1 = reset HEAD~1
  # ahead lists commits ahead of origin/<given branch>, i.e. commits that are not yet pushed
  ahead = !sh -c 'git log origin/$1..HEAD' -   
[push]
	default = matching
[color]
	ui = true
[i18n]
  commitencoding = ISO-8859-1
